<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script> var d3v4 = d3;</script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
  <!-- W3 CSS -->
  <link rel="stylesheet" href="../w3.css">
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <!-- Styles -->
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<header class="w3-display-container w3-content w3-center w3-animate-opacity" style="max-width:1500px">
  <img class="w3-image" src="../images/darkgrey.png" alt="Me" width="1500" height="300">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">L. REN</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">L. REN</h5>
  </div>
  
   <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
    <a href="../index.html" class="w3-bar-item w3-button">gallery</a>
    <a href="views/about_me.html" class="w3-bar-item w3-button">about</a>
    <a href="d3_portfolio.html" class="w3-bar-item w3-button">graphics portfolio</a>
  </div>
</header>


<body>
	<div id="graphic">
	<div class="container">
		<div id="div1">
		  <h1><strong>auction theory visualization</strong></h1>
		    <p>This is a study of some of the <strong>most popular</strong> auctions currently on Ebay, sorted and scraped by the most number of bids in their respective categories. </p>
		</div>
		<div id="div2">
		  <h2>In total, <strong id="strong2"></strong> auctions were analyzed, amounting to over <strong id="strong"></strong> bids.</h2>
		</div>
		<div id="div3">
      <h3>According to the sample:</h3>
		  <h2>- The best Ebay sellers have sold an average of <strong id="strong3"></strong> items.</h2>
      <h2>- The best auction titles had an average of <strong id="strong4"></strong> words.</h2>
      <h2>- The best auction titles had an average of <strong id="strong4"></strong> words.</h2>
		</div>
	</div>
	<div><svg class="container2" id="pattern"  width="100%" height="100%" ></svg></div>
	<div><svg  class="fixed" id="viz"  width="100%" height="100%" ></svg></div>
  <div id="line"></div>
  <div>
  <svg width="660" height="220" src=../images/auction.svg>
</svg>
 </div>
	<script src=../js/mallotrepeat.js></script>
	<script src=../js/scatterplot.js></script>
	<script src=../js/counter.js></script>
	
<script>
function counter2(){
	  var strong1 = d3.select("#strong3");
	    
	  var text = strong1.append("strong")
	    .attr("x", 50)
	    .attr("y", 50)
	    .text(1);
	    
	  text.transition()
	    .tween("text", function starttrans() {
	       var selection = d3.select(this);    // selection of node being transitioned
	       var start = d3.select(this).text(); // start value prior to transition
	       var end = 12936;                     // specified end value
	       var interpolator = d3.interpolateNumber(start,end); // d3 interpolator

	       return function starttrans(t) { selection.text(Math.round(interpolator(t))); };  // return value
	       
	    })
	  .duration(2000);
	}

  function counter3(){
    var strong4 = d3.select("#strong4");
      
    var text2 = strong4.append("strong")
      .attr("x", 50)
      .attr("y", 50)
      .text(1);
      
    text2.transition()
      .tween("text", function starttrans() {
         var selection = d3.select(this);    // selection of node being transitioned
         var start = d3.select(this).text(); // start value prior to transition
         var end = 12;                     // specified end value
         var interpolator = d3.interpolateNumber(start,end); // d3 interpolator

         return function starttrans(t) { selection.text(Math.round(interpolator(t))); };  // return value
         
      })
    .duration(2000);
  }
</script>
<script src=../js/line.js></script>
  <script>
  	   //waypoints scroll constructor
    function scroll(n, offset, func1, func2){
      return new Waypoint({
        element: document.getElementById(n),
        handler: function(direction) {
           direction == 'down' ? func1():func2();
           this.destroy();
        },
        //start 75% from the top of the div
        offset: offset
      });
    };

    //trigger these functions on page scroll
    new scroll('div1','75%',repeatImage)
    new scroll('div2', '75%', scatter,repeatImage);
	  new scroll('div2', '75%', counter,repeatImage);
    new scroll('div3', '50%', drawLine);
	  new scroll('div3', '75%', counter2);
    new scroll('div3', '75%', counter3);
   

   </script>

</body>