<html>
<title>gallery</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Image Overlay -->
  .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
<!-- Header -->
<header class="w3-display-container w3-content w3-center w3-animate-opacity" style="max-width:1500px">
  <img class="w3-image" src="../images/darkgrey.png" alt="Me" width="1500" height="500">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">L. REN</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">L. REN</h5>
  </div>
  
   <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
    <a href="../index" class="w3-bar-item w3-button">Home</a>
    <a href="projects" class="w3-bar-item w3-button">Projects</a>
    <a href="gallery" class="w3-bar-item w3-button">Gallery</a>
    <a href="about_me" class="w3-bar-item w3-button">About Me</a>
  </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#projects" class="w3-bar-item w3-button">Projects</a>
  <a href="#gallery" class="w3-bar-item w3-button">Gallery</a>
  <a href="#contact" class="w3-bar-item w3-button">Contact</a>
</div>
</div>

<!-- Page content -->
<div class="w3-white w3-padding-large w3-padding-32 w3-margin-top w3-animate-opacity w3-content" style="max-width:1500px">
<h1 align='center'>Gallery</h1>

<div class="w3-content w3-padding-large w3-margin-top  w3-animate-opacity" id="projects">
  <img src="../gallery_images/IMG_5090.JPG" alt="Ocean" class="w3-image" width="1000" height="500">
    <div class="overlay">
    <div class="text">1</div>
  </div>
  
  <img src="../gallery_images/DSC08131.JPG" alt="Chateau" class="w3-image w3-margin-top" width="1000" height="500">
  <div class="overlay">
    <div class="text">2</div>
  </div>
  <img src="../gallery_images/DSC08624.JPG" alt="Sunset" class="w3-image w3-margin-top" width="1000" height="500">
  <img src="../gallery_images/DSC08832.JPG" alt="Ceiling" class="w3-image w3-margin-top" width="1000" height="500">
  <img src="../gallery_images/DSC08339.JPG" alt="Walkway" class="w3-image w3-margin-top" width="1000" height="500">
  </div>
</div>

<!-- End Page Content -->
</div>
<!-- Footer -->
<footer class="w3-display-container w3-content w3-center">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<!-- End page content -->
</body>
</html>
