<html>
<title>gallery</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- Header -->
<header class="w3-display-container w3-content w3-center w3-animate-opacity" style="max-width:1500px">
  <img class="w3-image" src="linreen.github.io/images/darkgrey.PNG" alt="Me" width="1500" height="500">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">L. REN</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">L. REN</h5>
  </div>
  
   <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
    <a href="linreen.github.io/index.html" class="w3-bar-item w3-button">Home</a>
    <a href="linreen.github.io/views/projects.html" class="w3-bar-item w3-button">Projects</a>
    <a href="linreen.github.io/views/gallery.html" class="w3-bar-item w3-button">Gallery</a>
    <a href="linreen.github.io/views/about_me.html" class="w3-bar-item w3-button">About Me</a>
  </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#projects" class="w3-bar-item w3-button">Projects</a>
  <a href="#gallery" class="w3-bar-item w3-button">Gallery</a>
  <a href="#contact" class="w3-bar-item w3-button">Contact</a>
</div>
</div>

<!-- Page content -->
<div class="w3-white w3-padding-large w3-padding-32 w3-margin-top w3-animate-opacity w3-content" style="max-width:1500px">
<h1 align='center'>Gallery</h1>

<!-- Photo Grid -->
<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/sound.jpg" style="width:100%">
    <img src="/w3images/woods.jpg" style="width:100%">
    <img src="/w3images/rock.jpg" style="width:100%">
    <img src="/w3images/nature.jpg" style="width:100%">
    <img src="/w3images/mist.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="/w3images/coffee.jpg" style="width:100%">
    <img src="/w3images/bridge.jpg" style="width:100%">
    <img src="/w3images/notebook.jpg" style="width:100%">
    <img src="/w3images/london.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/avatar_g.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="/w3images/mist.jpg" style="width:100%">
    <img src="/w3images/workbench.jpg" style="width:100%">
    <img src="/w3images/gondol.jpg" style="width:100%">
    <img src="/w3images/skies.jpg" style="width:100%">
    <img src="/w3images/lights.jpg" style="width:100%">
    <img src="/w3images/workshop.jpg" style="width:100%">
  </div>
</div>

<!-- End Page Content -->
</div>
<!-- Footer -->
<footer class="w3-display-container w3-content w3-center">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<!-- End page content -->
</body>
</html>
